{% load mptt_tags %}
<button id="menu" class="btn">Каталог товаров <span class="arrow"></span></button>
<div id="v-menu">
<div id="main-nav">
        <ul>
        {% for top_category in categories %}
            
            <li id="cat_{{ top_category.id }}" class="main-category">
                    <a class="a_category" href="{% url lfs_category top_category.slug %}">{{ top_category.name }}</a>
                    <span class="cart-content"></span>

                <div id="sub-nav">
                    {% if not top_category.is_leaf_node %}
                    <div id="sub_cat_{{ top_category.id }}" class="sub-category">
                        <div class="row-fluid">
                            {% for category in top_category.get_children %}
                            {% if forloop.first %}

                            <div id="category_row" class="span4">
                            {% endif %}

                            <ul><li class="category_name"><a class="red"  href="{% url lfs_category category.slug %}">{{ category.name }}</a>
                                {% if not category.is_leaf_node %}
                                <ul class="column{{ category.extras.column }}">
                                    {% for item in category.get_children %}
                                        <li><a href="{% url lfs_category item.slug %}">{{ item.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li></ul>
                            {% if forloop.counter|divisibleby:top_category.extras.row %}
                {% if forloop.last %}
                    </div>
                {% else %}
                    </div>
                    <div id="category_row" class="span4">
                {% endif %}
            {% endif %}

                            {% endfor %}
                        
                    </div></div>
                    {% endif %}
                </div>
            </li>
            
            
        {% endfor %}
        </ul>
    </div>
</div>    

<script type="text/javascript">

    $(".main-category").hover(
        function(){
            $(".sub-category").css("display", "none");
            $(".sub-category").css("visibility", "hidden");
            var cat_id = $(this).attr("id");
            //$("#sub-nav").css("display", "block");
            $("#sub_"+cat_id).css("visibility", "visible");
            $("#sub_"+cat_id).css("display", "block");
        }
    );
    $("#v-menu").hover(
        function(){},
        function(){
           // $("#sub-nav").css("display", "none");
        }
    )

    var menu_btn = $("#menu");
    var vertical_menu = $("#v-menu");

{% if homepage_f %}
    vertical_menu.css("display", "block");
    $("#menu .arrow").css("background-image", "none");
    $("#menu .arrow").css("display", "none");
{% else %}
    vertical_menu.css("display", "none");
    menu_btn.css("border-radius", "8px");
    $("#menu .arrow").css("background-image", "url(/static/img/strl-01.png)");
    menu_btn.click(function(){ 
        if (vertical_menu.css("display") == "none"){
            vertical_menu.css("display", "block");
            menu_btn.css("border-radius", "8px 8px 0px 0px");
            $("#menu .arrow").css("background-image", "url(/static/img/strl-02.png)");
        }
        else{
            vertical_menu.css("display", "none");
            menu_btn.css("border-radius", "8px");
            $("#menu .arrow").css("background-image", "url(/static/img/strl-01.png)");
        }
    });

{% endif %}
</script>
