{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% comment %}
{% block title %}
    {% trans 'My Addresses' %} - {{ block.super }}
{% endblock %}

{% block section %}my-addresses{% endblock %}



{% block content %}
<div class="page-header">
    {% block breadcrumbs %}
    {% breadcrumbs _("Change your addresses") %}
{% endblock %}
    <h1>{% trans 'Your addresses' %}</h1>
</div>

    {% if form.errors %}
        <div class="alert alert-error">
            {% trans "The operation could not be performed because one or more errors occurred. Please see below." %}
        </div>
    {% endif %}

    <form class="form-horizontal"
    	  action="{% url lfs_my_addresses %}"
          method="post"
          invoice="{% url lfs_changed_invoice_country %}"
          shipping="{% url lfs_changed_shipping_country %}">
        {% csrf_token %}
        <div class="row-fluid">
            <div class="span6">
            <fieldset>
                <legend>{% trans 'Invoice Address' %}</legend>
                {{ invoice_address_inline|safe }}
            </fieldset>
            </div>
            <div class="span6">
            <fieldset>
                <legend>{% trans 'Shipping Address' %}</legend>
                {{ shipping_address_inline|safe }}
            </fieldset>
            </div>
        </div>            

        <div class="form-actions">
                        <input class="btn btn-primary"
                           type="submit"
                           value="{% trans 'Save addresses' %}">
        </div>
    </form>
{% endblock %}
{% endcomment %}