{% load i18n %}

<div class="row-fluid">
<div class="span2">
    {% trans 'Addresses' %}:
</div>
<div class="span10">
{% for a, d in addresses %}
    <div class="row">
        <div class="span5">
            {% for k,v in d %}
                {{ k }}: {{ v }}
            {% endfor %}
        </div>
        <div class="span7">
            {% if a.default %} <i class="icon-ok"></i>{% else %}
            <a href="javascript:make_major_address({{ a.id }})">{% trans 'Make major' %}</a>{% endif %}
            <a href="{% url lfs_edit_address a.id %}" class="modal-link">{% trans 'Edit' %}</a>
            {% if addresses|length != 1 %}
            <a href="javascript:delete_address({{ a.id }})">{% trans 'Delete' %}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="row">
    <a href="{% url lfs_add_address %}" class="modal-link">{% trans 'Add address' %}</a>
</div>
</div>
</div>
