{% extends "lfs/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% load loginza_widget %}

{% block title %}
    {% trans 'Login' %} - {{ block.super }}
{% endblock %}

{% block section %}customer-login{% endblock %}



{% block wrapper %}
<div class="page-header">
    {% block breadcrumbs %}
    {% breadcrumbs _("Login") %}
{% endblock %}
    <h1>
        {% trans 'Please select!' %}
    </h1>
</div>

<div class="row-fluid">
    <div class="{% if not ANON_ONLY %}span6{% else %}span12{% endif %}">
    <div class="login well">
        <h3 class="authenticate">{% trans 'Login' %}</h3>

        <div class="alert alert-info">
            {% trans 'If you are already customer you can login. Your address data will be stored in your account.' %}
        </div>

        <form class="authenticate form-horizontal"
              action="{% url lfs_login %}"
              method="post">
            {% csrf_token %}

            {{ login_form|as_bootstrap:"horizontal" }}
                            

            <input type="hidden"
                   name="action"
                   value="login" />

            <input type="hidden"
                   name="next"
                   value="{{ next_url }}" />

            <div class="form-actions">
            <button type="submit"
                    class="btn btn-primary">{% trans 'Login' %}</button>
            <a class="pull-right" href="{% url lfs_password_reset %}">{% trans 'Forgot password?' %}</a>
            </div>

        {% loginza_iframe %}
        </form>
    </div>
    </div>
    
    {% if not ANON_ONLY %}
    <div class="span6">
        <div class="register">
            <h3 class="authenticate">{% trans 'Register' %}</h3>

            <div class="alert alert-info">
                {% trans 'If you are not already a customer you can register in order to store your address data and to follow the state of your orders.' %}
            </div>

            <form action="{% url lfs_login %}"
                  method="post" class="form-horizontal">
                    {% csrf_token %}
                    {{ register_form|as_bootstrap:"horizontal" }}
                    <input type="hidden"
                           name="action"
                           value="register" />

                    <input type="hidden"
                           name="next"
                           value="{{ next_url }}" />
                    <div class="form-actions">
                    <button type="submit"
                            class="btn btn-primary">{% trans "Register" %}</button>
                    </div>
            </form>
        </div>
        </div>
    {% endif %}    
</div>
<script type="text/javascript">
$("#id_username").focus();
</script>
{% endblock %}

