{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block title %}
    {% trans 'Order' %} - {{ block.super }}
{% endblock %}

{% block section %}my-orders{% endblock %}

{% block breadcrumbs %}
<div class="order">
    {% breadcrumbs _("Order") %}
    </div>
{% endblock %}

{% block content %}
    <h1>{% trans 'Order number:' %} {{ current_order.number }}</h1>
    {% include "lfs/order/lfs_order_tmpl.html" %}
{% endblock %}
