{% extends "lfs/customer/base.html" %}
{% load i18n %}
{% load lfs_tags %}
{% load bootstrap_toolkit %}
{% block section %}my-account{% endblock %}
{% block title %}{% trans 'Password change' %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Password change") %}
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans 'Password change' %}</h1>
</div>
    <div class="alert alert-info">
        {% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}
    </div>

    <form action="{% url lfs_my_password %}"
          method="post" class="form-horizontal">
        {% csrf_token %}

        {{ form|as_bootstrap:"horizontal" }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="change_password" value="{% trans 'Change password' %}" />
        </div>
    </form>
{% endblock %}
