<div class="span8 slider-content">
<div class="slider-background">
<div class="slider-background-white">
<div id="slider-block">
    
    <div class="slider-wrapper">
        <div id="index_slider" class="nivoSlider">
                    {% if images %}
                      {% for img in images %}
                            {% if img.url %}
                            <a href="{{ img.url }}"><img src="{{ img.image }}"
                            title="{{img.caption}}" ></a>
                            {% else %} 
                            <img src="{{ img.image }}"
                            title="{{img.caption}}" >
                            {% endif %}
                      {% endfor %}
                    {% else %}
                    <a href="#"><img src="static/img/header_01.jpg"
                            title="Title example" ></a>
                    {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
$(window).load(function(){
  $('#index_slider').nivoSlider({});   
});
</script>


<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
    mediator.subscribe("document_ready", function(){
    $('#middle-slot-container').prepend($('#slider-content'))
})();
</script>
