{% load i18n lfs_tags %}

<div class="cart-portlet portlet">

    <div class="portlet-header">
        <h4>{% trans 'Cart' %}</h4>        
    </div>

    <div class="portlet-body">
        {% if amount_of_items_int %}
            <div class="article">
                {% blocktrans with amount=amount_of_items_locale count counter=amount_of_items_int %}{{ amount }} item{% plural %}{{ amount }} items{% endblocktrans %}
            </div>
            <div class="price">
                {{ price|currency:request }}
            </div>
        {% else %}
            {% trans 'Cart is empty' %}
        {% endif %}
    </div>

    <div class="portlet-footer">
        <a class="btn btn-info" href="{% url lfs.cart.views.cart %}">
            {% trans 'Go to cart' %}
        </a>
    </div>
</div>

<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
