{#-------------------------------CATEGORY MENU-------------------------------------------------------#}       
{# Div for tab panel #}
<div class="span12">{% block tabs %}{{ SHOP.prerendered_menu|safe }}{% endblock %}</div>
{#-------------------------------END CATEGORY MENU---------------------------------------------------#}  

{% if main_page %}
<p style="padding-top:{{size}}px;"></p>
<script type="text/javascript">
$('#breadcrumb').attr('style','margin-left:200px')
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}