{% load i18n %}
{% load lfs_tags %}
{% load sshop_tags %}



{% if products %}

    <div class="featured-products-portlet portlet">
        <div class="portlet-body">
            {% if products|length < 4 or not slideshow %}
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
                <div class="wrap-product"> 
               {% for product in products %}
    
                <div class="portlet-item{% if forloop.last %} last{% endif %}{% if type_of_slot == 5 %} horizontal{% endif %}">
                   <div class="product-data">
                                
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_100x100 }}">
                                    </a>
                                </div>
                            <div class="product-statuses">
                                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                                {% if product.manage_stock_amount %}
                                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                                {% endif %}                
                                {% if product.manual_delivery_time %}
                                {% trans "Delivery in" %} {{ product.delivery_time }}
                                {% endif %}
                            </div>

                                <div class="product-form">
                                    <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
                                </div>
                                {% if product.get_for_sale %}
                                    <div class="product-price">
                                         <span class="price">{% for_sale_price product %}</span>
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        <span class="label label-info price">{% price product %}</span>
                                    </div>
                                {% endif %}
                                {% if product.status.show_buy_button %}
                                <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                    class="add-to-cart-form"
                                     method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                                </form>
                                {% endif %}

                            </div>
                </div>
                
                {% endfor %}
                </div>
                {# -----------------------NOT SLIDESHOW------------------------------------ #}
            {% elif slideshow or products|length > 4 %}
                {# -----------------------PRODUCTS SLIDESHOW------------------------------------ #}
                 <div class="products-wrapper slideshow">
                    <ul class="jcarousel-skin-tango">
                    {% for product in products %}
                    <li>
                        <div id="tab-{{ forloop.counter }}" class="portlet-item">
                            <div class="product-data">
                                
                                <div class="product-title">
                                    <a href="{{ product.get_absolute_url }}" class="product-title">{{ product.get_name }}</a>
                                </div>

                                <div class="image-wrapper">
                                    <a href="{{ product.get_absolute_url }}">
                                       <img src="{{ product.get_image.image.url_100x100 }}">
                                    </a>
                                </div>
                            <div class="product-statuses">
                                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                                {% if product.manage_stock_amount %}
                                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                                {% endif %}                
                                {% if product.manual_delivery_time %}
                                {% trans "Delivery in" %} {{ product.delivery_time }}
                                {% endif %}
                            </div>
                                <div class="product-form">
                                     <a href="javascript:comparison_add_product({{ product.id }}, {% url lfs_comparison %})" id="compare_{{ product.id }}"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
                                </div>
                                {% if product.get_for_sale %}
                                    <div class="product-price">
                                        <span class="price">{% for_sale_price product %}</span>
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        <span class="label label-info price">{% price product %}</span>
                                    </div>
                                {% endif %}

                                {% if product.status.show_buy_button %}
                                <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                                    class="add-to-cart-form"
                                     method="post">
                                {% csrf_token %}
                                <input name="product_id" type="hidden" value="{{ product.id }}" />
                                <input name="ajax_mode" type="hidden" value="1" />
                                <!--input class="input-small inline" name="quantity" type="text" value="1" /-->
                                <button class="btn btn-danger buy">{% trans "Купить" %}</button>
                                </form>
                                {% endif %}

                            </div>
                        </div>
                    </li>
                    {% endfor %}{# slideshow products #}
                     </ul>
                    {# tabs #}
                    
                    <ul style="display:none">
                    {% for product in products %}
                        <li><a href="#tab-{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    </ul>

                </div>
               
                {# -----------------------END PRODUCTS SLIDESHOW-------------------------------- #}
                <script type="text/javascript">
               //     $('.slideshow').tabs({ fx: { opacity: 'toggle', duration: 'fast' } }).tabs('rotate', 3000);
                    
                    $(function(){
                    $(".product-price").each(function(){
                         var new_text = "",
                             $this = $(this);
                             new_text = $this.text().replace(/(.*?\.\d+)\s(грн)/g, "<span class=price-var>$1</span> <span class=price-val>$2</span>");
                            $this.html(new_text);  
                    })
                    $('ul.jcarousel-skin-tango').each(function(index){
                        $(this).attr('id', 'tabs_carousel-' + index); 
                    })

                        $("[id*=tabs_carousel]").jcarousel({
                            scroll: 1,
                            wrap: 'circular',
                        });
                        
                       //hack fo other carousels
              


                    })
                </script>
            {% endif %}
            {# slideshow check #}
        </div>{# portlet-body #}
    </div>
{% endif %}
