{% load i18n %}
{% load lfs_tags sshop_tags %}

{% if product.get_related_products %}
    <div class="related-products-portlet portlet">

        <div class="portlet-header">
            <h4>{{ title }}</h4>
        </div>

        <div class="portlet-body">
            {% for related_product in product.get_related_products %}
                <div class="portlet-item">
                    <img alt="{{related_product.get_name}}"
                         src="{{related_product.get_image.image.url_60x60}}" />
                    <div>
                        <a href="{{related_product.get_absolute_url}}">
                            {{related_product.get_name}}
                        </a>
                    </div>
                    <div class="price">
                        {% price related_product %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
<script type="text/javascript">
{% if slot_name == "Left" %}config.left_portlet_count++;{% endif %}
{% if slot_name == "Right" %}config.right_portlet_count++;{% endif %}
</script>
{% endif %}
