{% load i18n lfs_tags sshop_tags %}
{% load properties_tags %}

{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load lfs_portlets_tags %}
        {# {% load share_widget %} #}
        {# {% share_us_widget %} #}

{% include "lfs/catalog/categories/product/toolbar.html" %}
<div id="products">
    {% if not products_count and filtered %}
        <div class="alert">
            <p>{% trans 'Товаров с данным набором фильтров не найдено. Для сброса фильтров нажмите пожалуйста кнопку "Очистить" и попробуйте задать другие параметры.' %}</p>
        </div>
    {% endif %}
    {% for product in products %}
    <div class="product-list-item">
        <div class="row-fluid">
            <div class="span2">
                <a href="{% url lfs.catalog.views.product_view product.slug %}">
                    {% if product.get_image.image.url_100x100 %}
                        {% badges_for_product product %}
                        <img alt="{{ product.name }}" src="{{ product.get_image.image.url_100x100 }}" />
                    {% else %}
                        <img alt="{{ product.name }}" src="{{ STATIC_URL }}img/100x100.gif" />
                    {% endif %}
                </a>                        
            </div>
            <div class="span8">
                <div class="product-caption"><a href="{% url lfs_product product.slug %}">{{ product.name }}</a></div>
                <span class="product_code">Код - {{ product.id_1c }}<br /></span>
                <div class="product-description">{{ product.get_short_description|safe }}</div>
                <div class="product-statuses">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}                
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
                </div>
                <div class="product-form">
                      {% if product.id in request.session.comparison %}
                    <a id="compare_{{product.id}}" href="{% url lfs_comparison %}">{% trans "Сравнить" %}</a>
                    {% else %}
                    <a id="compare_{{product.id}}" href="javascript:comparison_add_product({{ product.id }},{% url lfs_comparison %})"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
                    {% endif %}
                </div>
            </div>
            <div class="span2">
            {% if product.get_for_sale %}
                <div class="product-price">
                <span class="label label-important price">{% for_sale_price product %}</span>
                <ul>                
                <li><span class="for-sale-price">Instead: {% standard_price product %}</span></li>
                <li><span class="for-sale-standard-price">You save: {% price_difference product %}</span></li>
                </ul>
                </div>
            {% else %}
                <div class="product-price">
                <span class="label label-info price">{% price product %}</span>
                </div>
            {% endif %}
            {% if product.status.show_buy_button %}
            <form action="{% url lfs.catalog.views.product_form_dispatcher %}"
                class="add-to-cart-form"
                 method="post">
            {% csrf_token %}
            <input name="product_id" type="hidden" value="{{ product.id }}" />
            <input name="ajax_mode" type="hidden" value="1" />
            <input class="input-small inline" name="quantity" type="text" value="1" />
            <button class="btn btn-danger buy">{% trans "Купить" %}</button>
            </form>
            {% endif %}
            </div>
        </div>
        </div>
        {% endfor %}
</div>
{% include "lfs/catalog/categories/product/products_navigation.html" %}
<div class="description">
    {{ category.description|safe }}
</div>