{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
        {% load share_widget %}
        {% share_us_widget %}


{% load i18n l10n lfs_tags sshop_tags reviews_tags %}
{% load properties_tags %}
{% load lfs_portlets_tags %}
        {# {% load share_widget %} #}
        {# {% share_us_widget %} #}
<div class="row-fluid">
<div class="span12">

<form id="product-form" action="{% url lfs.catalog.views.product_form_dispatcher %}"
class="add-to-cart-form"
 method="post">
{% csrf_token %}
<div class="row-fluid product-toolbar">
    <div class="span9"><h2 class="product-caption"><span itemprop="name">{{ product.get_name }}</span></h2><span>Код - {{ product.id_1c }}<br /></span></div>
</div>
<div class="row-fluid product-detail">
    {# Images #}
    <div class="span3">
        {% if product.get_image %}
        <a href="{{ product.get_image.image.url }}" class="product-detail-lightbox colorbox product-image"
        rel="colorbox" title="{{ product.get_image.title }}">
        {% badges_for_product product %}
        <img src="{{ product.get_image.image.url_200x200 }}"
             alt="{{ product.get_image.title }}"
             class="product-image thumbnail"
             itemprop="image" />
    </a>
        {% else %}
        <img src="{{ STATIC_URL }}img/200x200.gif" alt="{{ product.get_image.title }}"
        class="product-image" />
        {% endif %}
    </div>
    <div class="span1">
        <div class="vertical-slider">
        <ul class="thumbnails main-product">
            {% for image in product.get_sub_images %}
            <li class="span12">
            <a href="{{ image.image.url_400x400 }}" class="colorbox thumbnail" rel="colorbox" title="{{ image.title }}">
                <img src="{{ image.image.url_60x60 }}" alt="{{ image.title }}" />
            </a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    <div class="span8 well" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <div class="row-fluid">
        <div class="row-fluid">
            <div class="span6">
                {# Prices #}
                <div class="prices">
                {% if product.get_for_sale %}
                    <div class="product-price">
                    <span class="label label-important price" price="{{ product.price }}" currency="{{ currency.code }}">{% for_sale_price product %}</span>
                    <ul>
                    <li><span class="for-sale-price">{% trans 'Instead' %}: {% standard_price product %}</span></li>
                    <li><span class="for-sale-standard-price">{% trans 'You save' %}: {% price_difference product %}</span></li>
                    </ul>
                    </div>
                {% else %}
                    <div class="product-price">
                    <span class="label label-info price standard-price-value" price="{{ product.price }}" currency="{{ currency.code }}">{% price product %}</span>
                    </div>
                {% endif %}
                </div> <!-- prices -->
            </div>
            
            <div class="span6">
                {% if product.id in request.session.comparison %}
                <a id="compare" href="{% url lfs_comparison %}">{% trans "Сравнить" %}</a>
                {% else %}
                <a id="compare" href="javascript:compare_add_product({{ product.id }})"><span class="blue">{% trans "Добавить к сравнению" %}</span></a>
                {% endif %}
            </div>
            </div>

        <div class="row-fluid">
            <div class="span6">
                <span class="label-popover label {{ product.status.css_class }} pointer" data-content="{{ product.status.description|striptags }}" title="" data-original-title="{{ product.status.name }}">{{ product.status.name }}</span>
                {% if product.manage_stock_amount %}
                <span>{% trans "Stock amount:" %} {{ product.stock_amount }}
                {% if product.unit %}{{ product.unit }}{% endif %}</span>
                {% endif %}   
                {% if product.manual_delivery_time %}
                {% trans "Delivery in" %} {{ product.delivery_time }}
                {% endif %}
            </div>
            <div class="span6">
                {% if product.status.show_ask_button %}
                <div class="pull-right">
                    <a href="{% url lfs_product_question product.id %}" 
                    id="id_ask_question" class="modal-link">
                    {% trans "Ask the question" %}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div>{% average_for_instance product %}</div>
            </div>
            <div class="span6">
                
            </div>
        </div>
        <div class="row-fluid">
        <div class="span6">
            {% if product.status.show_buy_button %}
                 {% if product.get_active_packing_unit %}
                <div class="product-quantity packing-unit pull-left" id="packing-url" 
                data="{% url lfs_calculate_packing product.id %}">
                    <input class="number quantity" name="quantity" type="text" 
                    value="{{ quantity }}" />
                    {{ unit }}
                </div>
                {% else %}
                <div class="product-quantity pull-left">
                   {% comment %}<label for="quantity" class="pull-left">
                        {% if unit %} {{ unit }}: {% else %} {% trans "Quantity" %}: {% endif %}
                    </label>{% endcomment %}
                    
                    <input class="number quantity input-small" name="quantity" size="3" type="text"
                    value="{{ quantity }}" />
                </div>
                {% endif %}

                <button class="btn btn-danger buy" type="submit" name="add-to-cart">
                    <i class="icon-shopping-cart icon-white">
                    </i> {% trans 'Купить' %}</button>
        {% else %}
            <button class="btn btn-primary emphasized" 
            onclick="window.location='{% url lfs_contact_form %}'; return false"
            name="">
                <i class="icon-shopping-cart icon-white">
                </i>
                {% trans 'Send request' %}
            </button>
        {% endif %}
        </div>
        <div class="span6">     
        {% if product in request.session.notebook %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left" href="{% url lfs_notebook %}">{% trans "В блокноте" %}</a>
        {% else %}
        <a id="notebook_{{ product.id }}" class="btn btn-info pull-left" href="javascript:notebook_add_product({{ product.id }})">{% trans "Notebook" %}</a>
        {% endif %}</div>
        </div>
    </div>
</div>
<input type="hidden" name="product_id" value="{{ product.id }}" />

{% comment %}<div class="cart-toolbar well">
<div class="row-fluid">
    <div class="span5">
        <div class="label label-info">{% trans 'Bages will be here' %}</div>
    </div>
    {# Notebook and add to cart buttons #}
    <div class="span7">
        <div class="add-to-cart-form pull-right">
            {% if product.status.show_buy_button %}
               
                {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 offset6">
        <div class="packing-result pull-right">
            {{ packing_result }}
        </div>
    </div>
</div>

</div>
{% endcomment %}


<div class="row-fluid">
    <div class="span12">
    <div class="short-description">
        <span itemprop="description">{{ product.get_short_description|safe}}<span>
    </div>
    </div>
</div>

{# Configurable Properties #} {% if product.is_configurable_product %}

{% endif %}
{# Variants #}
{% if product.is_product_with_variants or product.is_variant %}
    {% include variants_display_type_template %}
{% endif %}
<div class="row-fluid">
<div class="span12">

<div id="product-tabs">
<ul>
    <li><a href="#properties">{% trans "Характеристики" %}</a></li>
{% if product.has_description %}
    <li><a href="{% url lfs_product_description product.slug %}"><span>{% trans "Description" %}</span></a></li>
{% endif %}
{% if product.has_accessories %}
    <li><a href="{% url lfs_product_accessories product.slug %}"><span>{% trans "Accessories" %}</span></a></li>
{% endif %}
    <li><a href="{% url lfs_product_reviews product.slug %}"><span>{% trans "Отзывы" %}</span></a></li>
</ul>
<div id="properties">
    {{ global_properties|safe }}
    {% static_block "product" %}
</div>
</div>

</div></div>

{# Attachments #} {% if attachments %}
<div class="row-fluid">
    <div class="span12">
        <div class="attachments">
            <h3 class="section">
                {% trans 'Attachments' %}
            </h3>
            {% for attachment in attachments %}
            <div class="item">
                <div class="title">
                    <a title="{{ attachment.title}}" href="{{ attachment.get_url }}">
            {{ attachment.title}}
        </a>
                </div>
                {% if attachment.description %}
                <div class="description">
                    {{ attachment.description }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
</form>
</div>
</div>


<script type="text/javascript">
    function notebook_add_product(product_id){
        var id = $('#notebook').attr('portlet_assignment_id')
        link = "/notebook/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#notebook_"+product_id).text("В блокноте");
                $("#notebook_"+product_id).attr("href", "{% url lfs_notebook %}");
                if (id != undefined)
                {
                    $('#notebook')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#notebook')[0].innerHTML)
                    page_designer.page_rebuild();
                    mediator.publish('change_slots_width', "span3", "span12", "span9");
                }
            }
        });
    };

    function compare_add_product(product_id) {
        var id = $('#comparison').attr('portlet_assignment_id')
        link = "/comparison/add-product/" + product_id + "/"
        if (id != undefined)
        {
            link += id + "/"
        }
        $.ajax({
            url: link,
            dataType: "json",
            success: function(msg){
                $("#compare").text("Сравнить");
                $("#compare").attr("href", "{% url lfs_comparison %}");
                if (id != undefined)
                {
                    $('#comparison')[0].innerHTML = msg['html']
                    mediator.publish('run_scripts_from', $('#comparison')[0].innerHTML)
                    page_designer.page_rebuild();
                    mediator.publish('change_slots_width', "span3", "span12", "span9");
                }
            }
        });
    };
</script>
